@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:900&display=swap');


body {
  background-image: url("../image/2744928.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: #464646;
}

header {
  margin-bottom: 10px;
}

h1 {
  margin: -2px;
  color: white;
}

#title {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5em;
}

#tic,
#toe {
  color: #FFD032;
}

#tac {
  color: #EB1751;
}

h1,
div {
  font-family: 'Varela Round', sans-serif;
  text-align: center;
}

div h1 {
  font-size: 3.5em;
  color: white;
  margin-top: -5px;
}

#player1 h1 {
  color: #FFD032;
}

#player2 h1 {
  color: #EB1751;
}

div p {
  margin: -13px;
  color: white;
}

h3 {
  margin: 2px;
  font-size: 15px;
  color: white;
}

input {
  width: 8em;
  margin: 2px;
}

body {
  text-align: center;
  background-color: #461461;
}

#players {
  display: flex;
  width: 380px;
  margin: 0 auto;
  justify-content: space-around;
  height: 130px;
  margin-bottom:
}

#players div {
  margin: 10px;
  flex: 1;
  border: 5px solid #8556af;
  padding: 5px;
  text-align: center;
  border-radius: 12px;
  background-color: #41116b;
}

#container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  margin: 0 auto;
  margin-bottom: 5px;
  background-color: #8556af;
  border: 5px solid #8556af;
  border-radius: 12px;
}

.grid-item {
  border: 5px solid #8556af;
  padding: 20px;
  text-align: center;
  font-size: 56px;
  font-weight: bold;
  font-family: 'Varela Round', sans-serif;
  color: #FFD032;
  height: 65px;
  width: 65px;
  border-radius: 12px;
  background-color: #41116b;
}

#addPlayerName {
  margin-top: 9px;
  margin-bottom: 9px;
  border-radius: 3px;
}

#addPlayerCharacter {
  border-radius: 3px;
}

#addPlayerButton {
  margin-top: 1em;
  width: 7em;
  border-radius: 3px;
  background-color: #e8b406;
  border: none;
  color: white;
  font-family: 'Varela Round', sans-serif;
  font-size: 12px;
}

footer {
  display: flex;
  width: 380px;
  margin: 0 auto;
}

footer input {
  flex: 1;
  font-size: 20px;
  font-family: 'Varela Round', sans-serif;
  color: white;
  margin: 15px;
  border-radius: 12px;
  height: 2.4em;
}

#newGameButton {
  background-color: #EB1751;
  border: none;
}

#resetWinsButton {
  background-color: #e8b406;
  border: none;
}

#container .grid-item:hover {
  cursor: pointer;
  background: #802698;
}

#newGameButton:hover {
  cursor: pointer;
  background: #ac143d;
}

#resetWinsButton:hover,
#addPlayerButton:hover {
  cursor: pointer;
  background: #c99c06;
}

#message {
  position: absolute;
  top: 209px;
  left: -50%;
  right: -50%;
  border: 10px solid #8556af;
  height: 350px;
  width: 350px;
  margin: 0 auto;
  background-color: #41116b;
  visibility: hidden;
  border-radius: 12px;

}

#message h1 {
  font-size: 7em;
  color: #EB1751;
  margin-top: 18px;
  margin-bottom: 5px;
}

#message h3 {
  font-size: 2em;
  color: #FFD032;
  font-family: 'Montserrat', sans-serif;
}

#message p {
  font-size: 5em;
  color: #EB1751;
  margin-top: 18px;
  font-family: 'Montserrat', sans-serif;
}