#container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
  background-color: orange;
  border: 1px solid;
  padding: 20px;
  text-align: center;
}

#players {
  text-align: center;
}

input {
  font-size: 20em;
}