@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

body {
  text-align: center;
}

#container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  height: 300px;
  width: 300px;
  text-align: center;
}

.grid-item {
  background-color: orange;
  border: 1px solid;
  padding: 20px;
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  font-family: 'Varela Round', sans-serif;
  color: white;
  height: 100px;
  width: 100px;
}

/* #players {
  text-align: center;
} */

/* input {
  font-size: 20em;
} */